<nav class="bg-blue-900 text-white p-3">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Brand -->
    <a class="text-xl font-bold flex items-center gap-2" routerLink="/dash-board">
      <i class="fas fa-graduation-cap text-blue-300"></i>
      E-Com
    </a>

    <!-- Login & Register -->
    <div class="flex space-x-2">
      <a
        routerLink="/login"
        class="bg-blue-600 px-4 py-1 rounded hover:bg-blue-700"
        >Login</a
      >
      <a
        routerLink="/register"
        class="bg-blue-600 px-4 py-1 rounded hover:bg-blue-700"
        >Register</a
      >
      <a
        routerLink="/producList"
        class="bg-blue-600 px-4 py-1 rounded hover:bg-blue-700"
        >ProducList</a
      >
      <button
        type="button"
        (click)="logout()"
        class="bg-blue-600 px-4 py-1 rounded hover:bg-blue-700"
      >
        logout
      </button>
    </div>
  </div>
</nav>
